# Files 
*.png
TODO.md

# Python cache
*.pyc
*.pyo

# Mac specific files
.DS_Store

# Environment variables
.env

# Virtual environment
.venv/

# Large Data Folder 
data/gtzan/*
data/mock/*

# Large Model Files
*.pth
*.pt
*.onnx